<div class="main-container">
    
    <div class="content">
        
 <header class="header">
  	<div class="container">	
	<div class="row">	
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
			<img class="small-logo" src="images/min-logo.png"/>
			</div>			
			
			<div class="col-xs-7 col-xs-offset-3 sign-mob">
			  <p class="email-text">Sign Up</p>
			  <img class="small-sign-mob" src="images/min-sign.png"/>
			 <p class="email-text">Log In</p>
			<img class="small-login-mob" src="images/min-login.png"/>
			</div>
			
			
			<div class="col-lg-2 col-lg-offset-9 col-md-2 col-md-offset-9 col-sm-2 col-sm-offset-9 col-xs-6 col-xs-offset-4 sign">
			  	<img class="small-login" src="images/min-login.png"/>
			<img class="small-sign" src="images/min-sign.png"/>
			</div>
		
		<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 col-xs-offset-0">
		<div class="header-logo">
		<img class="big-logo" src="images/logo.png"/>		   	    
	    </div>
	    </div>
	</div>
	</div>
</header>		

<div class="container">				
 <div class="row">	
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<p class="main-title">
			Not All Calories Are Equal
		</p>
		<p class="main-text">
			100 calories of ghee are not the same as 100 calories of carrots ...so why are you counting calories?
		</p>
				
         <!-- Search for mob -->
		<div class="col-xs-12 search-main-mob">
			<button type="submit" class="search-button">
					<a href="#/list"><img class="search-image" src="images/search.png"/></a>	
			</button>			
		<div class="vertLine-mob"></div>			 	
		</div>		
		
		<!-- Search for desktop -->				
		<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 search-main-desk">
		<div class="search-block">
		<div class="search-area">
			<form class="fast-search">
			 <input type="search" class="search" ng-model="ingredient" placeholder="Find your recipe, ingredient or ..."/>
			  <div class="vertLine"></div>
				
				<button type="submit" ng-click="searchMain(ingredient)" class="search-button">
					<img class="search-image" src="images/search.png"/>			
				</button>			 	
		       </div>
			</form>			
		 </div>					
		 </div>
		 </div>
       </div>	     
	</div>
  
 <div class="container curves-lines-mob">	
  <div class="row">

  <div class="col-xs-3">
   <canvas id="curve1-mob" width="50" height="50"></canvas>
  </div>
  
    <div class="achivement1-mob">
   <img class="achive-image1-mob" src="images/achive1.png"/>   
  </div>
   
   <div class="col-xs-3">
   <canvas id="curve2-mob" width="100" height="50"></canvas>
   </div>
  
   <div class="col-xs-3">
   <canvas id="curve3-mob" width="100" height="50"></canvas>
  </div>
  
  <div class="achivement3-mob">
   <img class="achive-image3-mob" src="images/achive1.png"/>   
  </div>
  
   <div class="col-xs-3">
   <canvas id="curve4-mob" width="50" height="50"></canvas>
  </div>
 
 <div class="col-xs-12 achivement2-mob">
   <img class="achive-image2-mob" src="images/achive3.png"/>	
   <p class="achive-text-mob">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
 </div>
 
</div>
 
 
<div class="container curves-lines">	
<div class="row">

  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <canvas id="curve1" width="500" height="150"></canvas>
  </div>
  
   <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3 achivement1">
   <img class="achive-image1" src="images/achive3.png"/>	
   <p class="achive-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  
   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
   <canvas id="curve2" width="200" height="100"></canvas>
  </div>
  
   <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
   <canvas id="curve3" width="200" height="100"></canvas>
  </div>
  
  <div class="col-lg-1 col-md-2 col-sm-3 col-xs-3 achivement2">
   <img class="achive-image2" src="images/achive1.png"/>   
  </div>
  
   <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
   <canvas id="curve4" width="500" height="150"></canvas>
  </div>
  
 </div>
</div>

</div>	

<footer class="container-footer-main">
	<div class="container">
	<div class="row">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-4">
			<img class="small-twit" src="images/min-twitter.png"/>
			<img class="small-facebook" src="images/min-facebook.png"/>
			</div>	
					
			<div class="col-lg-1 col-lg-offset-9 col-md-1 col-md-offset-9 col-sm-1 col-sm-offset-9 col-xs-8 col-xs-offset-0">
			 <p class="email-text">tairaisestore@gmail.com</p>
			<img class="small-email" src="images/min-email.png"/>		
			</div>											
	  </div>
	</div>	
</footer>	
			
</div>   
 
   